In [50]:
import pandas as pd
from datetime import datetime
import re

In [51]:
def date_to_season(date_str):
    # Convert the date string to a datetime object
    date_object = datetime.strptime(date_str, '%Y-%m-%d')

    # Extract the month from the datetime object
    month = date_object.month

    # Determine the season based on the month
    if 3 <= month <= 5:
        return 'Spring'
    elif 6 <= month <= 8:
        return 'Summer'
    elif 9 <= month <= 11:
        return 'Autumn'
    else:
        return 'Winter'
def df_to_season(df):
    seasons=[]
    for index, row in df.iterrows():
        # Access individual elements using column names
        row['Season'] = date_to_season(row['Date'])
        seasons.append(row['Season'])
    df['Season']=seasons

In [52]:
def extract_numeric_value(value_string):
    # Use regular expression to find digits and commas
    matches = re.findall(r'\d+', value_string.replace(',', ''))

    # Join the matches into a single string and convert to float
    numeric_value = float(''.join(matches))
    return numeric_value

def convert_aed_to_mad(amount_in_aed):
    amount_in_aed = extract_numeric_value(amount_in_aed)
    amount_in_mad = amount_in_aed * 2.73
    return amount_in_mad
def convert_price(df):
    for index, row in df.iterrows():
    # Access individual elements using column names
        row['Price'] = convert_aed_to_mad(row['Price'])

In [53]:
data= pd.read_csv('airlines_dataset.csv')

In [54]:
data

,Airline,Source,Destination,Duration,stops,class,depature time,arrival time,Price,Date
0,Royal Air Maroc,CMN,PAR,2h 55m,direct,economy,18:30,21:25,AED 565,2023-12-04
1,Royal Air Maroc,CMN,PAR,15h 55m,1 stop,economy,22:55,14:50+1,AED 390,2023-12-04
2,Transavia France,CMN,PAR,3h 15m,direct,economy,19:15,22:30,AED 572,2023-12-04
3,Royal Air Maroc,CMN,PAR,2h 50m,direct,economy,12:20,15:10,AED 932,2023-12-04
4,Royal Air Maroc,CMN,PAR,2h 55m,direct,economy,14:10,17:05,AED 950,2023-12-04
...,...,...,...,...,...,...,...,...,...,...
1071,Air France,CMN,ROM,11h 35m,1 stop,business,08:10,19:45,"AED 2,766",2024-11-05
1072,Air France,CMN,ROM,9h 30m,1 stop,business,08:10,17:40,"AED 3,492",2024-11-05
1073,Royal Air Maroc,CMN,ROM,8h 35m,1 stop,business,14:10,22:45,"AED 3,841",2024-11-05
1074,KLM,CMN,ROM,11h 00m,2 stops,business,08:10,19:10,"AED 3,136",2024-11-05
1075,KLM,CMN,ROM,11h 00m,2 stops,business,08:10,19:10,"AED 3,147",2024-11-05

In [55]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1076 entries, 0 to 1075
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Airline        1076 non-null   object
 1   Source         1076 non-null   object
 2   Destination    1076 non-null   object
 3   Duration       1076 non-null   object
 4   stops          1076 non-null   object
 5   class          1076 non-null   object
 6   depature time  1076 non-null   object
 7   arrival time   1076 non-null   object
 8   Price          1076 non-null   object
 9   Date           1076 non-null   object
dtypes: object(10)
memory usage: 84.2+ KB

In [56]:
df_to_season(data)

In [57]:
convert_price(data)

In [58]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1076 entries, 0 to 1075
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Airline        1076 non-null   object
 1   Source         1076 non-null   object
 2   Destination    1076 non-null   object
 3   Duration       1076 non-null   object
 4   stops          1076 non-null   object
 5   class          1076 non-null   object
 6   depature time  1076 non-null   object
 7   arrival time   1076 non-null   object
 8   Price          1076 non-null   object
 9   Date           1076 non-null   object
 10  Season         1076 non-null   object
dtypes: object(11)
memory usage: 92.6+ KB

In [59]:
data

,Airline,Source,Destination,Duration,stops,class,depature time,arrival time,Price,Date,Season
0,Royal Air Maroc,CMN,PAR,2h 55m,direct,economy,18:30,21:25,1542.45,2023-12-04,Winter
1,Royal Air Maroc,CMN,PAR,15h 55m,1 stop,economy,22:55,14:50+1,1064.7,2023-12-04,Winter
2,Transavia France,CMN,PAR,3h 15m,direct,economy,19:15,22:30,1561.56,2023-12-04,Winter
3,Royal Air Maroc,CMN,PAR,2h 50m,direct,economy,12:20,15:10,2544.36,2023-12-04,Winter
4,Royal Air Maroc,CMN,PAR,2h 55m,direct,economy,14:10,17:05,2593.5,2023-12-04,Winter
...,...,...,...,...,...,...,...,...,...,...,...
1071,Air France,CMN,ROM,11h 35m,1 stop,business,08:10,19:45,7551.18,2024-11-05,Autumn
1072,Air France,CMN,ROM,9h 30m,1 stop,business,08:10,17:40,9533.16,2024-11-05,Autumn
1073,Royal Air Maroc,CMN,ROM,8h 35m,1 stop,business,14:10,22:45,10485.93,2024-11-05,Autumn
1074,KLM,CMN,ROM,11h 00m,2 stops,business,08:10,19:10,8561.28,2024-11-05,Autumn
1075,KLM,CMN,ROM,11h 00m,2 stops,business,08:10,19:10,8591.31,2024-11-05,Autumn

In [13]:
def convert_to_minutes(duration):
    parts = duration.split(' ')
    
    hours = 0
    minutes = 0
    
    if 'h' in parts[0]:
        hours = int(parts[0].replace('h', ''))
    
    if 'm' in parts[-1]:
        minutes = int(parts[-1].replace('m', ''))
    
    return hours * 60 + minutes


data['Duration'] = data['Duration'].apply(convert_to_minutes)

data

,Airline,Source,Destination,Duration,stops,class,depature time,arrival time,Price,Date,Season
0,Royal Air Maroc,CMN,PAR,175,direct,economy,18:30,21:25,1542.45,2023-12-04,Winter
1,Royal Air Maroc,CMN,PAR,955,1 stop,economy,22:55,14:50+1,1064.7,2023-12-04,Winter
2,Transavia France,CMN,PAR,195,direct,economy,19:15,22:30,1561.56,2023-12-04,Winter
3,Royal Air Maroc,CMN,PAR,170,direct,economy,12:20,15:10,2544.36,2023-12-04,Winter
4,Royal Air Maroc,CMN,PAR,175,direct,economy,14:10,17:05,2593.5,2023-12-04,Winter
...,...,...,...,...,...,...,...,...,...,...,...
1071,Air France,CMN,ROM,695,1 stop,business,08:10,19:45,7551.18,2024-11-05,Autumn
1072,Air France,CMN,ROM,570,1 stop,business,08:10,17:40,9533.16,2024-11-05,Autumn
1073,Royal Air Maroc,CMN,ROM,515,1 stop,business,14:10,22:45,10485.93,2024-11-05,Autumn
1074,KLM,CMN,ROM,660,2 stops,business,08:10,19:10,8561.28,2024-11-05,Autumn
1075,KLM,CMN,ROM,660,2 stops,business,08:10,19:10,8591.31,2024-11-05,Autumn

In [14]:
def convert_stops_to_numeric(df, column_name):
    mapping_dict = {value: index for index, value in enumerate(df[column_name].unique())}

    df[column_name] = df[column_name].replace(mapping_dict)

    return df

df = convert_stops_to_numeric(data, 'stops')
data

,Airline,Source,Destination,Duration,stops,class,depature time,arrival time,Price,Date,Season
0,Royal Air Maroc,CMN,PAR,175,0,economy,18:30,21:25,1542.45,2023-12-04,Winter
1,Royal Air Maroc,CMN,PAR,955,1,economy,22:55,14:50+1,1064.7,2023-12-04,Winter
2,Transavia France,CMN,PAR,195,0,economy,19:15,22:30,1561.56,2023-12-04,Winter
3,Royal Air Maroc,CMN,PAR,170,0,economy,12:20,15:10,2544.36,2023-12-04,Winter
4,Royal Air Maroc,CMN,PAR,175,0,economy,14:10,17:05,2593.5,2023-12-04,Winter
...,...,...,...,...,...,...,...,...,...,...,...
1071,Air France,CMN,ROM,695,1,business,08:10,19:45,7551.18,2024-11-05,Autumn
1072,Air France,CMN,ROM,570,1,business,08:10,17:40,9533.16,2024-11-05,Autumn
1073,Royal Air Maroc,CMN,ROM,515,1,business,14:10,22:45,10485.93,2024-11-05,Autumn
1074,KLM,CMN,ROM,660,2,business,08:10,19:10,8561.28,2024-11-05,Autumn
1075,KLM,CMN,ROM,660,2,business,08:10,19:10,8591.31,2024-11-05,Autumn

In [60]:
def clean_arrival_time(arrival_time):
    if '+1' in arrival_time:
        return arrival_time.split('+')[0]
    else:
        return arrival_time

In [61]:
data['arrival time'] = data['arrival time'].apply(clean_arrival_time)

In [62]:
data['arrival time'] = pd.to_datetime(data['arrival time'], format='%H:%M', errors='coerce')
data['depature time'] = pd.to_datetime(data['arrival time'], format='%H:%M', errors='coerce')

In [63]:
def categorize_time(time):
    if pd.isnull(time):
        return 'Unknown'
    elif time.hour < 4:
        return 'Midnight'
    elif time.hour < 8:
        return 'Early Morning'
    elif time.hour < 12:
        return 'Morning'
    elif time.hour < 15:
        return 'Noon'
    elif time.hour < 18:
        return 'Afternoon'
    elif time.hour < 21:
        return 'Evening'
    else:
        return 'Night'

In [64]:
data['arrival time'] = data['arrival time'].apply(categorize_time)
data['depature time'] = data['depature time'].apply(categorize_time)

In [65]:
data

,Airline,Source,Destination,Duration,stops,class,depature time,arrival time,Price,Date,Season
0,Royal Air Maroc,CMN,PAR,2h 55m,direct,economy,Night,Night,1542.45,2023-12-04,Winter
1,Royal Air Maroc,CMN,PAR,15h 55m,1 stop,economy,Noon,Noon,1064.7,2023-12-04,Winter
2,Transavia France,CMN,PAR,3h 15m,direct,economy,Night,Night,1561.56,2023-12-04,Winter
3,Royal Air Maroc,CMN,PAR,2h 50m,direct,economy,Afternoon,Afternoon,2544.36,2023-12-04,Winter
4,Royal Air Maroc,CMN,PAR,2h 55m,direct,economy,Afternoon,Afternoon,2593.5,2023-12-04,Winter
...,...,...,...,...,...,...,...,...,...,...,...
1071,Air France,CMN,ROM,11h 35m,1 stop,business,Evening,Evening,7551.18,2024-11-05,Autumn
1072,Air France,CMN,ROM,9h 30m,1 stop,business,Afternoon,Afternoon,9533.16,2024-11-05,Autumn
1073,Royal Air Maroc,CMN,ROM,8h 35m,1 stop,business,Night,Night,10485.93,2024-11-05,Autumn
1074,KLM,CMN,ROM,11h 00m,2 stops,business,Evening,Evening,8561.28,2024-11-05,Autumn
1075,KLM,CMN,ROM,11h 00m,2 stops,business,Evening,Evening,8591.31,2024-11-05,Autumn

In [16]:
import pandas as pd
from sklearn.utils import shuffle

df = shuffle(df, random_state=42)

df.to_csv('shuffled_dataset.csv', index=False)
df

,Airline,Source,Destination,Duration,stops,class,depature time,arrival time,Price,Date,Season
1046,TAP Portugal,CMN,PAR,370,1,business,16:50,23:00,2937.48,2024-11-05,Autumn
548,Royal Air Maroc,CMN,PAR,170,0,economy,16:20,20:10,1438.71,2024-06-01,Summer
731,Royal Air Maroc,CMN,PAR,175,0,economy,02:50,06:45,3194.1,2024-08-16,Summer
764,Air France,CMN,IST,575,1,economy,15:50,03:25,2754.57,2024-08-16,Summer
869,Royal Air Maroc,CMN,PAR,175,0,business,08:00,11:55,6456.45,2024-09-03,Autumn
...,...,...,...,...,...,...,...,...,...,...,...
330,Iberia,CMN,PAR,310,1,business,16:05,22:15,4067.7,2024-03-17,Spring
466,Air France,CMN,PAR,180,0,economy,18:20,22:20,1911.0,2024-05-29,Spring
121,Air Arabia Maroc,CMN,IST,280,0,economy,16:50,23:30,1646.19,2024-01-12,Winter
1044,KLM,CMN,IST,1180,2,economy,19:15,16:55,4067.7,2024-11-05,Autumn
860,Egypt Air,CMN,IST,680,1,economy,13:30,02:50,3876.6,2024-09-03,Autumn